
body {
    background: url('/image/background.png') fixed;
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
}

a {
 	text-decoration: none;
 	color: black;
}

.bannerPic {
	display: block;
    width: 100%;
    margin-left: 190px;
	height: 300px;
}

#messages {
	border-radius: 10px;
    margin-left: 10%;
	margin-top: 20px;
    width: 80%;
    min-height: 350px;
}

.messageHeader {
	border-bottom: 1px solid grey;
	background-color:rgba(0,0,0,0.5);
}

.messageHeader ul {
	margin: 0px;
}

.messageHeader ul li {
	padding: 10px;
    margin-right: 5%;
    margin-left: 5%;
	font-size: 150%;
	font-weight: bold;
	list-style: none;
	display: inline-block;
}

.messageHeader a {
	color: lightblue;
}

#contents {
    padding-bottom: 2%;
    float: left;
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.5);
}

.message {
	background-color: white;
	overflow: auto;
	min-height: 120px;
    border-bottom: 1px solid grey;
    background-color:rgba(0,0,0,0.5);
}

.messageIconContainer {
	width: 80px;
    float: left;
}

.messageIcon {
	height: 80px;
	margin-top: 10px;
	margin-left: 20px;
    margin-right: 10px;
}

.messageContent {
	margin: 0px;
	width: 520px;
    float: left;
    margin-left: 50px;
    margin-bottom: 8px;
    color: wheat;
}

.function {
    width: 20%;
}

.function a {
    font-weight: 200;
}

.grey {
	color: grey;
}

table, td, th {
	border-collapse: collapse;
	border: 1px solid black;
}

td, th {
	min-width: 200px;
	font-size: 20px;
	height: 50px;
}

table {
	margin-top: 50px;
	width: 100%;
}

h4 {
	margin-top: 5px;
	margin-bottom: 2px;
}

.updateInfo {
    float: left;
}

.user_information_container{
	background: url("/image/UserMainBg.jpeg");
    position: relative;
    width: 80%;
    height: 330px;
    margin-left: 10%;
    margin-top: 60px;
    /*background: burlywood;
    background: rgba(0, 0, 0, .5);*/
    box-shadow:1px 1px 2px rgba(0,0,0,0.5);
}

.portrait_container{
    position: relative;
    float: left;
    width: 256px;
    height: 256px;
    border: 2px solid hsla(0,0%,100%,.4);
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 30px;
    z-index: 1;
}

.user_portrait{
    display: block;
    width: 256px;
    height: 256px;
    background: #fff;
    border-radius: 50%;
}

.user_information{
    height: 115px;
    position: relative;
    top: 128px;
    background-color:rgba(0,0,0,0.5);
}

.user_information_content{
    height: 110px;
    margin-left: 400px;

}

#user_description{
    position: relative;
    float: left;
    margin-bottom: 10%;
    color: white;
}

.profile_img_container{
    position: absolute;
    bottom: 2px;
    width: 100%;

}

.movie_link {
    margin: 1%;
    width: 10%;
    float: left;
    background: rgba(0, 0, 0, .5);
}

.movie_link_img {
    width: 90%;
    margin: 5%;
}

.movie_link_text {
    padding-left: 10px;
    color: lightblue;
}

#user_name {
	padding-top: 10px;
	font-size: 150%;
	font-weight: 200;
	color: white;
}

#commentContent {
    width: 90%;
    height: 150px;
    margin-top: 3%;
    margin-left: 4%;
    margin-right: 10%;
    font-size: 20px;
    background-color: wheat;
}

#buttonCommentContainer {
    margin-top: 1.5%;
    margin-left: 70%;
    float: bottom;
}

#sendButton {
    width: 50%;
    height: 40px;
    float: right;
    color: white;
    font-size: 110%;
    margin-right: 20%;
    background-color: rgba(0, 0, 0, .0);
}
